---
import Layout from "../layouts/Layout.astro";
import Recommend from '../components/home/recommend'
import BlogList from '../components/home/BlogList'

import {createDirectus,rest,readItems} from "@directus/sdk";

const { CMS_URL } = import.meta.env

const client = createDirectus(CMS_URL).with(rest());

const items = await client.request(
    readItems('blog', {
        fields: ['id', 'title', 'date_published', 'summary', 'cover','tag','date_created'],
        sort: ['sort', '-date_created'],
        limit: 10
    })
);
---

<Layout title="首页" >
    <Recommend text="我的数据" />
    <div class="container">
        <div class="container-left">
            {
                items.map((e)=>{
                    return <BlogList data={e} />
                })
            }
        </div>
        <div class="container-right">

        </div>
    </div>

</Layout>
<style>

</style>
