---
import Layout from "../layouts/Layout.astro";
import Recommend from '../components/home/recommend.astro'
import BlogList from '../components/home/BlogList.astro'
import HomeSide from "../components/home/HomeSide.astro";

import {createDirectus,rest,readItems,readItem} from "@directus/sdk";

const { CMS_URL } = import.meta.env

const client = createDirectus(CMS_URL).with(rest());

const items = await client.request(
    readItems('blog', {
        fields: ['id', 'title', 'date_published', 'summary', 'cover','tag','date_created'],
        sort: ['sort', '-date_created'],
        limit: 10
    })
);

const top = true
const recommendBlog = await client.request(readItem('blog',1,{top:true}));


const books = await client.request(
    readItems('book', {
        fields: ['id', 'name', 'week', 'remark', 'cover','detail'],
        sort: ['sort', '-date_created'],
        limit: 1
    })
);
---

<Layout title="首页" >
    <Recommend data={recommendBlog} />
    <div class="container">
        <div class="container-left">
            {
                items.map((e)=>{
                    return <BlogList data={e} />
                })
            }
        </div>
        <HomeSide data={books} />
    </div>

</Layout>
<style>

</style>
