<footer>
    <div class="footer-area">
        <div class="footer-top">
            <!--易识浮生理，难教一物违。水深鱼极乐，林茂鸟知归。吾老甘贫病，荣华有是非。秋风吹几杖，不厌此山薇。-->
            曾经是个摇滚愤青小青年，喜欢唐朝黑豹超载一大帮子，然后子曰主唱让我觉得这个名字不错。然后就用了。
        </div>

        <div class="footer-box">
            <h1>
                在将要意外的时候 <br>
                没有意外了
            </h1>
        </div>

        <div class="footer-bottom">
            <a  target="_blank" rel="noopener" href="http://beian.miit.gov.cn/">苏ICP备2021047286号-1</a>
        </div>
    </div>
</footer>

<style>
    .single-footer-widget a{
        color: #706f87;
    }
</style>
